body {
  background-color: hsl(0, 0%, 94%);
  align-content: center;
  line-height: 1;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
.caption {
  font-size: 24px;
}
img {
  width: 100%;
}

#tribute_info {
  grid-column: auto;
}

#caption {
  font-weight: 700;
}

#img-caption {
  text-align: center;
}
#image {
  text-align: center;
}

#fight-list {
  font-style: italic;
}
