body {
  background-color: hsl(0, 0%, 94%);
  align-content: center;
  line-height: 1;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}
.caption {
  font-size: 24px;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
.img-div {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#tribute_info {
  grid-column: auto;
}

#caption {
  font-weight: 700;
}

#img-caption {
  text-align: center;
}
#image {
  width: 100%;
  height: auto;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#fight-list {
  font-style: italic;
}
